@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

.footer {
	z-index: 1000;
	height: auto;
}

.desktop,
.tablet,
.mobile {
	display: none;
}

.legalesMention {
	height: auto;
}

.whiteBox {
	border-radius: 10px;
	box-shadow: 0px 0px 25px 0.5px;
	margin: 0% auto 2rem auto;
}

.ServiceItem {
	p {
		font-size: calc(0.7rem + 0.5vw);
	}
}

.header {
	z-index: 1000;
	position: fixed;
}

/* Desktop */
@media (min-width: 1290px) {
	#ContactTitle {
		width: fit-content;
		margin-bottom: 5vh;
	}
	.faviconSocial {
		width: 36px;
		margin: 5px;
	}

	.desktop {
		font-family: "Nunito Sans", sans-serif;
		display: flex;
		height: auto;
		background-color: rgb(255, 255, 255);
		flex-direction: column;
	}

	.line-height-5 {
		height: 5px !important;
	}
	.line-height-3 {
		height: 3px !important;
	}

	.introduction {
		font-size: 4rem;
	}

	.whiteBox {
		height: auto;
	}
	.mainContact {
		.whiteBox {
			height: auto;
		}
	}

	.divideLine {
		margin: auto;
		height: 2px;
		margin-top: 5px;
		margin-bottom: 10px;
	}

	.AboutMe {
		padding: 0rem 3rem;
		text-align: left;
		.paragraphe {
			font-size: 20px;
		}
	}

	.MySkills {
		padding: 0rem 3rem;
		text-align: left;
	}

	.columnTitle {
		font-size: 24px;
	}

	.SkillList {
		margin: 15px 0px;
		font-size: 20px;
	}

	.doraemon {
		height: calc(20vw + 5vh);
		width: auto;
		margin: 0px 15px;
	}

	.shortIcon {
		height: 16px;
	}

	#submitBtn {
		width: fit-content;
	}

	form {
		height: 85%;
	}

	#map {
		border: none;
		width: 100%;
		height: 60%;
	}

	.bi-code-slash,
	.bi-brush,
	.bi-search {
		font-size: 48px;
	}
	.portfolioImage {
		width: 100%;
	}
	.service {
		height: 100vh;
	}

	.MyLocalisation {
		height: 85%;
	}
	#map {
		border: none;
		width: 100%;
		height: 100%;
	}
	.btn {
		margin: 5px auto 5px auto;
	}
}

@media (min-width: 768px) and (max-width: 1289px) {
	.header {
		position: fixed;

		z-index: 1000;
		span {
			margin-left: 10px;
			align-items: center;
		}
	}
	.projectCard {
		.portfolioButton {
			.btn {
				padding: 2px;
			}
		}
	}
	#ContactTitle {
		width: fit-content;
		margin-bottom: 5vh;
	}

	input {
		font-size: 12px;
		line-height: 14px;
	}

	.desktop {
		font-family: "Nunito Sans", sans-serif;
		display: flex;
		height: auto;
		flex-direction: column;
	}

	h2 {
		font-size: 1.2em;
	}

	.service {
		height: 100vh;
	}
	.faviconSocial {
		width: 36px;
		margin: 5px;
	}

	.line-height-5 {
		height: 5px !important;
	}
	.line-height-3 {
		height: 3px !important;
	}

	.introduction {
		font-size: 3rem;
	}
	.submitButton {
		width: fit-content;
		font-size: 12px;
	}

	.divideLine {
		margin: auto;
		height: 2px;
	}

	.AboutMe {
		text-align: left;
		.paragraphe {
			font-size: 14px;
		}
	}

	.progress {
		height: 10px;
		.progress-bar {
			height: 10px;
		}
	}

	.MySkills {
		padding: 1rem 0rem;
		text-align: left;
	}

	.columnTitle {
		font-size: 24px;
	}

	.SkillList {
		margin: 15px 0px;
		font-size: 20px;
	}

	.doraemon {
		height: calc(25vw + 5vh);
		width: auto;
		margin: 0px 15px;
	}
	.myGithubProfile {
		width: calc(80vw);
		span {
			font-size: 12px;
		}
	}

	.shortIcon {
		height: 16px;
	}

	form {
		height: 85%;
	}

	#map {
		border: none;
		width: 100%;
		height: 60%;
	}

	.bi-code-slash,
	.bi-brush,
	.bi-search {
		font-size: 36px;
	}
	.ServiceItem {
		height: auto;
		p {
			margin-top: 15px;
		}
	}
	.portfolioImage {
		width: 100%;
	}

	.btn {
		margin: 10px auto 2px auto;
	}
}

@media (min-width: 500px) and (max-width: 767px) {
	.header {
		position: fixed;
		font-size: 14px;
	}

	.banner {
		margin-top: calc(var(--header-height) / 3.5);
		object-fit: cover;
	}
	.projectCard {
		.portfolioButton {
			.btn {
				padding: 2px;
			}
		}
	}
	#ContactTitle {
		width: fit-content;
		margin-bottom: 5vh;
	}

	input {
		font-size: 12px;
		line-height: 14px;
	}

	.desktop {
		font-family: "Nunito Sans", sans-serif;
		display: flex;
		height: auto;
		flex-direction: column;
		width: 100%;
	}

	h2 {
		font-size: 1.2em;
	}

	.service {
		height: 100vh;
	}
	.faviconSocial {
		width: 36px;
		margin: 5px;
	}

	.line-height-5 {
		height: 5px !important;
	}
	.line-height-3 {
		height: 3px !important;
	}

	.introduction {
		font-size: 3rem;
	}
	.submitButton {
		width: fit-content;
		font-size: 12px;
	}

	.divideLine {
		margin: auto;
		height: 2px;
	}

	.AboutMe {
		text-align: left;
		.paragraphe {
			font-size: 14px;
		}
	}

	.progress {
		height: 10px;
		.progress-bar {
			height: 10px;
		}
	}

	.MySkills {
		padding: 1rem 0rem;
	}
	.columnTitle {
		font-size: 24px;
	}

	.SkillList {
		margin: 15px 0px;
		font-size: 20px;
	}

	.doraemon {
		height: calc(25vw + 5vh);
		width: auto;
		margin: 0px 15px;
	}
	.myGithubProfile {
		width: calc(80vw);
		span {
			font-size: 12px;
		}
	}

	.shortIcon {
		height: 16px;
	}

	form {
		height: 85%;
	}

	#map {
		border: none;
		width: 100%;
		height: 60%;
	}

	.bi-code-slash,
	.bi-brush,
	.bi-search {
		font-size: 36px;
	}
	.ServiceItem {
		height: auto;
		p {
			margin-top: 15px;
		}
	}
	.portfolioImage {
		width: 100%;
	}

	.btn {
		margin: 10px auto 2px auto;
	}
}

/* Mobile */
@media (min-width: 320px) and (max-width: 576px) {
	.header {
		position: fixed;
	}
	.desktop {
		font-family: "Nunito Sans", sans-serif;
		display: flex;
		flex-direction: column;
	}

	.faviconSocial {
		width: 36px;
		margin: 5px;
	}

	.whiteBox {
		height: auto;
	}
}

#home {
	background-image: url("./assets/img/hero-bg.jpg");
	width: 100%;
	height: 100vh;
	align-content: center;
}

h1 {
	font-weight: 600;
}

h2 {
	font-weight: 600;
}

span {
	font-weight: 400;
}

p {
	font-weight: 400;
}

.customLink {
	margin-left: 15px;
}

.active {
	font-weight: bold;
	text-decoration: underline;
}

.underline {
	margin: auto;
	height: 3px;
	margin-top: 10px;
	margin-bottom: 3rem;
	width: 100%;
	border-radius: 5px;
}

.margin-top-2r {
	margin-top: 2rem;
}

.margin-width-auto {
	margin-left: auto;
	margin-right: auto;
}

.margin-bottom-2r {
	margin-bottom: 2rem;
}

.card {
	width: 100vh;
}

/* Tablet */
