.App {
	display: flexbox;
}

.App-link {
	color: #61dafb;
}

.root {
	background-color: #f0efe9;
}

.divideLine {
	margin: auto;
	height: 2px;
	background-color: #697072;
	margin-top: 5px;
	margin-bottom: 10px;
}

.header {
	margin: auto;
	display: flex;
	justify-content: space-between;
}