@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

.desktop,
.tablet,
.mobile {
	display: none;
}
.header {
	margin: auto;
	margin-bottom: 25rem;
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	position: fixed;
	height: fit-content;
	z-index: 1000;
}
/* Desktop */
@media (min-width: 1290px) {
	#ContactTitle {
		width: fit-content;
		margin-bottom: 5vh;
	}
	.faviconSocial {
		width: 36px;
		margin: 5px;
	}

	.desktop {
		font-family: "Nunito Sans", sans-serif;
		display: flex;
		height: 200vh;
		background-color: rgb(255, 255, 255);
		flex-direction: column;
	}

	.line-height-5 {
		height: 5px !important;
	}
	.line-height-3 {
		height: 3px !important;
	}

	.introduction {
		font-size: 4rem;
	}

	.whiteBox {
		width: 80%;
		padding-bottom: 20px;
		margin: 5rem 15rem;
		border-radius: 10px;
		box-shadow: 0px 0px 25px 0.5px;
	}

	.divideLine {
		margin: auto;
		height: 2px;
		margin-top: 5px;
		margin-bottom: 10px;
	}

	.AboutMe {
		padding: 0rem 3rem;
		text-align: left;
	}

	.MySkills {
		padding: 0rem 3rem;
		text-align: left;
	}

	.columnTitle {
		font-size: 24px;
	}

	.SkillList {
		margin: 15px 0px;
		font-size: 20px;
	}

	.doraemon {
		height: 248px;
		width: auto;
		margin: 0px 15px;
	}

	.shortIcon {
		height: 16px;
	}

	.mainContact {
		.whiteBox {
			margin: 0% auto 2rem auto;
		}
	}
	#submitBtn {
		width: fit-content;
	}

	form {
		height: 85%;
	}

	#map {
		border: none;
		width: 100%;
		height: 60%;
	}

	.bi-code-slash,
	.bi-brush,
	.bi-search {
		font-size: 48px;

		padding-left: 40%;
	}
	.ServiceItem {
		width: 33%;
	}
	.portfolioImage {
		width: 100%;
	}
	.service {
		height: 100vh;
	}

	.whiteBox {
		height: 86vh;
	}
	.MyLocalisation {
		height: 85%;
	}
	#map {
		border: none;
		width: 100%;
		height: 100%;
	}
	.btn {
		margin: 5px auto 5px auto;
	}
}

#home {
	align-items: center;
	background-image: url("./assets/img/hero-bg.jpg");
	width: 100%;
}

h1 {
	font-weight: 600;
}

h2 {
	font-weight: 600;
}

span {
	font-weight: 400;
}

p {
	font-weight: 400;
}

.customLink {
	margin-left: 15px;
}

.active {
	font-weight: bold;
	text-decoration: underline;
}

.underline {
	margin: auto;
	height: 3px;
	margin-top: 10px;
	margin-bottom: 3rem;
	width: 100%;
	border-radius: 5px;
}

.margin-top-2r {
	margin-top: 2rem;
}

.margin-width-auto {
	margin-left: auto;
	margin-right: auto;
}

.margin-bottom-2r {
	margin-bottom: 2rem;
}

.card {
	width: 100vh;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1289px) {
	#ContactTitle {
		width: fit-content;
		margin-bottom: 5vh;
	}
	.desktop {
		font-family: "Nunito Sans", sans-serif;
		display: flex;
		height: 150vh;
		flex-direction: column;
	}

	h2 {
		font-size: 1.5em;
	}

	.service {
		height: 100vh;
	}
	.faviconSocial {
		width: 36px;
		margin: 5px;
	}

	.line-height-5 {
		height: 5px !important;
	}
	.line-height-3 {
		height: 3px !important;
	}

	.introduction {
		font-size: 3rem;
	}

	.whiteBox {
		width: 60%;
		padding-bottom: 20px;
		margin: 5rem 15rem;
		border-radius: 10px;
		box-shadow: 0px 0px 25px 0.5px;
	}

	.divideLine {
		margin: auto;
		height: 2px;
		margin-top: 5px;
		margin-bottom: 10px;
	}

	.AboutMe {
		padding: 0rem 3rem;
		text-align: left;
	}

	.MySkills {
		padding: 0rem 3rem;
		text-align: left;
	}

	.columnTitle {
		font-size: 24px;
	}

	.SkillList {
		margin: 15px 0px;
		font-size: 20px;
	}

	.doraemon {
		height: 248px;
		width: auto;
		margin: 0px 15px;
	}

	.shortIcon {
		height: 16px;
	}

	.mainContact {
		.whiteBox {
			margin: 0% auto 2rem auto;
		}
	}

	form {
		height: 85%;
	}

	#map {
		border: none;
		width: 100%;
		height: 60%;
	}

	.bi-code-slash,
	.bi-brush,
	.bi-search {
		font-size: 48px;

		padding-left: 40%;
	}
	.ServiceItem {
		width: 33%;
	}
	.portfolioImage {
		width: 100%;
	}

	.whiteBox {
		height: 35vh;
	}
	.btn {
		margin: 5px auto 5px auto;
	}
}

/* Mobile */
@media (max-width: 767px) {
	.mobile {
		display: block;

		.header {
			font-size: 12px;
		}
	}
}
