@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.desktop,
.tablet,
.mobile {
	display: none;
}

/* Desktop */
@media (min-width: 1290px) {
	.desktop {
		font-family: 'Nunito Sans', sans-serif;
		display: flex;
		height: 200vh;
		background-color: rgb(255, 255, 255);
		flex-direction: column;

		.header {
			margin: auto;
			display: flex;
			justify-content: space-between;
			font-size: 20px;
			position: fixed;
			top: 0;
		}

		#home {
			background-color: rgb(255, 255, 255);
			align-items: center;
			background-image: url("./assets/img/hero-bg.jpg");
			background-color: rgba(255, 255, 255, 1);
		}

		.introduction {
			font-size: 4rem;
			color: white;

		}
	}
}

h1 {
	font-weight: 600;
}

h2 {
	font-weight: 600;
}

span {
	font-weight: 400;
}

p {
	font-weight: 400;
}

.aboutMeAndMySkills {
	width: 80%;
	padding-bottom: 20px;
	background-color: rgb(255, 255, 255);
	margin: 5rem 15rem;
	border-radius: 10px;
	box-shadow: 0px 0px 30px 15px rgb(201, 201, 201);
}

.customLink {
	margin-left: 15px;
}

.active {
	font-weight: bold;
	text-decoration: underline;

}

/* Tablet */
@media (min-width: 768px) and (max-width: 1289px) {
	.tablet {
		display: block;

		.header {
			font-size: 18px;
		}
	}
}

/* Mobile */
@media (max-width: 767px) {
	.mobile {
		display: block;

		.header {
			font-size: 12px;
		}
	}
}

.App {
	display: flexbox;
}

.App-link {
	color: #61dafb;
}

.root {
	background-color: #f0efe9;
}

.divideLine {
	margin: auto;
	height: 2px;
	background-color: #697072;
	margin-top: 5px;
	margin-bottom: 10px;
}

.underline {
	margin: auto;
	height: 3px;
	margin-top: 10px;
	margin-bottom: 3rem;
	width: 100%;
	border-radius: 5px;
}

.blue {
	color: #0d6efd;
	background-color: #0d6efd;
}

.red {
	color: red;
	background-color: red;
}

.AboutMe {
	padding: 0rem 3rem;
	text-align: left;

}

.MySkills {
	padding: 0rem 3rem;
	text-align: left;
}

.margin-top-2r {
	margin-top: 2rem;
}

.margin-width-auto-2r {
	margin-left: auto;
	margin-right: auto;
}

.margin-bottom-2r {
	margin-bottom: 2rem;
}

.columnTitle {
	font-size: 24px;
}

.progressbar {
	width: 95%;
}

.SkillList {
	margin: 15px 0px;
	font-size: 20px;
}

.faviconSocial {
	width: 36px;
	margin: 5px;
}

.card {
	width: 100vh;
}

.doraemon {
	height: 248px;
	width: auto;
	margin: 0px 15px;
}