.desktop,
.tablet,
.mobile {
	display: none;
}

/* Desktop */
@media (min-width: 1290px) {
	.desktop {
		display: flex;
		height: 200vh;
		background-color: rgb(255, 255, 255);
		flex-direction: column;

		.header {
			font-size: 20px;
			position: fixed;
			top: 0;
		}

		#home {
			background-color: rgb(255, 255, 255);
			align-items: center;
			background-image: url("./assets/img/hero-bg.jpg");
			background-color: rgba(255, 255, 255, 1);
		}

		.introduction {
			font-size: 4rem;
			color: white;

		}
	}
}

.customLink {
	margin-left: 15px;

}

.active {
	font-weight: bold;
	text-decoration: underline;

}

/* Tablet */
@media (min-width: 768px) and (max-width: 1289px) {
	.tablet {
		display: block;

		.header {
			font-size: 18px;
		}
	}
}

/* Mobile */
@media (max-width: 767px) {
	.mobile {
		display: block;

		.header {
			font-size: 12px;
		}
	}
}

.App {
	display: flexbox;
}

.App-link {
	color: #61dafb;
}

.root {
	background-color: #f0efe9;
}

.divideLine {
	margin: auto;
	height: 2px;
	background-color: #697072;
	margin-top: 5px;
	margin-bottom: 10px;
}

.header {
	margin: auto;
	display: flex;
	justify-content: space-between;
}