@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

.footer {
	z-index: 700;
	height: auto;
}

.desktop,
.tablet,
.mobile {
	display: none;
}

.legalesMention {
	height: auto;
}
.whiteBox {
	border-radius: 10px;
	box-shadow: 0px 0px 25px 0.5px;
	margin: 0% auto 2rem auto;
}

.ServiceItem {
	p {
		font-size: calc(0.7rem + 0.5vw);
	}
}

.header {
	z-index: 700;
	position: fixed;
}

.doraemon {
	height: 100%;
	width: 100%;
}

.githubCard {
	z-index: 900;
}

.backdropBlur {
	position: fixed;
	inset: 0;
	background: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(6px);
	z-index: 800;
}

.line-height-5 {
	height: 5px !important;
}
.line-height-3 {
	height: 3px !important;
}

.w-fit {
	width: fit-content;
}

/* Desktop */
@media (min-width: 1290px) {
	.menuBurgerSmallScreen {
		display: none;
	}
	.mentionsLégales {
		min-height: 51.6vh;
	}

	.header {
		span {
			font-size: 32px;
		}
		.navbar {
			font-size: 20px;
		}
	}

	#map {
		border: none;
		height: 34vh;
		width: 100%;
	}
	textarea {
		height: 30vh;
	}

	#ContactTitle {
		width: fit-content;
		margin-bottom: 5vh;
	}
	.faviconSocial {
		width: 36px;
		margin: 5px;
	}

	.desktop {
		font-family: "Nunito Sans", sans-serif;
		display: flex;
		height: auto;
		background-color: rgb(255, 255, 255);
		flex-direction: column;
	}

	.introduction {
		font-size: 4rem;
	}

	.whiteBox {
		height: auto;
		min-height: 70vh;
	}

	.AboutMe {
		padding: 0rem 3rem;
		text-align: left;
		.paragraphe {
			font-size: 20px;
		}
	}

	.MySkills {
		padding: 0rem 3rem;
		text-align: left;
	}

	.columnTitle {
		font-size: 24px;
	}

	.SkillList {
		margin: 15px 0px;
		font-size: 20px;
	}

	.shortIcon {
		height: 16px;
	}

	#submitBtn {
		width: fit-content;
	}

	form {
		height: 85%;
	}

	.bi-code-slash,
	.bi-brush,
	.bi-search {
		font-size: 48px;
	}

	.service {
		height: 100vh;
	}

	.MyLocalisation {
		height: 85%;
	}
	.btn {
		margin: 5px auto 5px auto;
	}
}

.portfolioImage {
	width: 100%;
}

@media (min-width: 768px) and (max-width: 1289px) {
	.header {
		span {
			margin-left: 10px;
			align-items: center;
			font-size: 28px;
		}
		.navbar {
			font-size: 18px;
		}
	}
	.mentionsLégales {
		min-height: 56.4vh;
	}
	.projectCard {
		.portfolioButton {
			.btn {
				padding: 2px;
			}
		}
	}

	#ContactTitle {
		width: fit-content;
		margin-bottom: 5vh;
	}

	input {
		font-size: 12px;
		line-height: 14px;
	}

	.desktop {
		font-family: "Nunito Sans", sans-serif;
		display: flex;
		height: auto;
		flex-direction: column;
	}

	.service {
		height: 100vh;
	}
	.faviconSocial {
		width: 36px;
		margin: 5px;
	}

	.introduction {
		font-size: 3rem;
	}

	.AboutMe {
		text-align: left;
		.paragraphe {
			font-size: 14px;
		}
	}

	.progress {
		height: 10px;
		.progress-bar {
			height: 10px;
		}
	}

	.MySkills {
		text-align: left;
	}

	.columnTitle {
		font-size: 24px;
	}

	.SkillList {
		margin: 15px 0px;
		font-size: 20px;
	}

	.myGithubProfile {
		span {
			font-size: 12px;
		}
	}

	.shortIcon {
		height: 16px;
	}

	form {
		height: 85%;
	}

	#map {
		border: none;
		height: 34vh;
		width: 100%;
	}
	textarea {
		height: 30vh;
	}

	.bi-code-slash,
	.bi-brush,
	.bi-search {
		font-size: 36px;
	}
	.ServiceItem {
		height: auto;
		p {
			margin-top: 15px;
		}
	}
	.portfolioImage {
		width: 100%;
	}

	.btn {
		margin: 10px auto 2px auto;
	}
	h2 {
		font-size: 1.5em;
	}
}

@media (min-width: 578px) and (max-width: 767px) {
	.header {
		span {
			margin-left: 10px;
			align-items: center;
			font-size: 15px;
		}
		.navbar {
			font-size: 12px;
		}
	}
	.mentionsLégales {
		min-height: 56.4vh;
	}
	.myGithubProfile {
		span {
			font-size: 12px;
		}
	}
	#map {
		border: none;
		height: 25vh;
		width: 100%;
	}
	textarea {
		height: 20vh;
	}
	.projectCard {
		.portfolioButton {
			.btn {
				padding: 2px;
			}
		}
	}
	#ContactTitle {
		margin-bottom: 5vh;
	}

	input {
		font-size: 12px;
		line-height: 14px;
	}

	.desktop {
		font-family: "Nunito Sans", sans-serif;
		display: flex;
		height: auto;
		flex-direction: column;
		width: 100%;
	}

	h2 {
		font-size: 1.2em;
	}

	.service {
		height: 100vh;
	}
	.faviconSocial {
		width: 36px;
		margin: 5px;
	}

	.introduction {
		font-size: 3rem;
	}
	.submitButton {
		width: fit-content;
		font-size: 12px;
	}

	.AboutMe {
		text-align: left;
		.paragraphe {
			font-size: 14px;
		}
	}

	.progress {
		height: 10px;
		.progress-bar {
			height: 10px;
		}
	}

	.columnTitle {
		font-size: 24px;
	}

	.SkillList {
		margin: 15px 0px;
		font-size: 20px;
	}

	.myGithubProfile {
		span {
			font-size: 12px;
		}
	}

	.shortIcon {
		height: 16px;
	}

	form {
		height: 85%;
	}

	.bi-code-slash,
	.bi-brush,
	.bi-search {
		font-size: 36px;
	}
	.ServiceItem {
		height: auto;
		p {
			margin-top: 15px;
		}
	}
	.portfolioImage {
		width: 100%;
	}

	.btn {
		margin: 10px auto 2px auto;
	}
}

/* Mobile */
@media (min-width: 320px) and (max-width: 576px) {
	.header {
		position: fixed;
	}
	.bi-code-slash,
	.bi-brush,
	.bi-search {
		font-size: 36px;
	}
	.bi-list {
		font-size: 24px;
	}
	#map {
		border: none;
		height: 25vh;
		width: 100%;
	}
	.banner {
		margin-top: 33px;
	}
	textarea {
		height: 20vh;
	}
	.desktop {
		font-family: "Nunito Sans", sans-serif;
		display: flex;
		flex-direction: column;
	}

	.faviconSocial {
		width: 36px;
		margin: 5px;
	}

	.whiteBox {
		height: auto;
		.MySkills {
			margin-top: 25px;
			min-height: 35vh;
		}
	}
}

#home {
	background-image: url("./assets/img/hero-bg.jpg");
	width: 100%;
	height: 100vh;
	align-content: center;
}

h1 {
	font-weight: 600;
}

h2 {
	font-weight: 600;
}

span {
	font-weight: 400;
}

p {
	font-weight: 400;
}

.customLink {
	margin-left: 15px;
}

.active {
	font-weight: bold;
	text-decoration: underline;
}

.underline {
	margin: auto;
	height: 3px;
	margin-top: 10px;
	margin-bottom: 3rem;
	width: 100%;
	border-radius: 5px;
}
