@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

// Les éléments css qui resteront les mêmes peut importe l'affichage
.desktop {
	font-family: "Nunito Sans", sans-serif;
	display: flex;
	height: auto;
	flex-direction: column;
}
.footer {
	z-index: 700;
	height: auto;
}
.whiteBox {
	border-radius: 10px;
	box-shadow: 0px 0px 25px 0.5px;
	margin: 2rem auto 2rem auto;
}
.header {
	z-index: 700;
	position: fixed;
}
.githubCard {
	z-index: 900;
}
.cardHoverBackground :hover {
	background-color: rgba(216, 216, 216, 0.87);
	transition:
		background-color 0.3s ease-out,
		transform 0.3s ease;
	* {
		pointer-events: none;
	}
}
.backdropBlur {
	position: fixed;
	inset: 0;
	background: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(6px);
	z-index: 800;
}
.line-height-5 {
	height: 5px !important;
}
.line-height-3 {
	height: 3px !important;
}
.w-fit {
	width: fit-content;
}
#home {
	background-image: url("./assets/img/hero-bg.jpg");
	width: 100%;
	height: 100vh;
	align-content: center;
}
h1 {
	font-weight: 600;
}
h2 {
	font-weight: 600;
}
span {
	font-weight: 400;
}
p {
	font-weight: 400;
}
.active {
	font-weight: bold;
	text-decoration: underline;
}

/* CSS pour écran plus large que 1290px */
@media (min-width: 1290px) {
	.mentionsLégales {
		min-height: 51.6vh;
	}
	.header {
		span {
			font-size: 32px;
		}
		.navbar {
			font-size: 20px;
		}
	}
	#map {
		border: none;
		height: 34vh;
		width: 100%;
	}
	textarea {
		height: 30vh;
	}
	.faviconSocial {
		width: 36px;
		margin: 5px;
	}
	.introduction {
		font-size: 4rem;
	}
	.whiteBox {
		height: auto;
		min-height: 70vh;
	}
	.AboutMe {
		p {
			font-size: 20px;
		}
	}
	.MySkills {
		padding: 0rem 2rem;
	}
	.SkillList {
		margin: 15px 0px;
		font-size: 32px;
	}
	.bi-code-slash,
	.bi-brush,
	.bi-search {
		font-size: 48px;
	}
	.btn {
		margin: 5px auto 5px auto;
	}
}

// css pour les écran d'une larger entre 768px et 1289px
@media (min-width: 768px) and (max-width: 1289px) {
	.header {
		span {
			margin-left: 10px;
			font-size: 28px;
		}
	}
	.mentionsLégales {
		min-height: 56.4vh;
	}
	.faviconSocial {
		width: 36px;
		margin: 5px;
	}
	.introduction {
		font-size: 3rem;
	}
	.SkillList {
		margin: 15px 0px;
		font-size: 20px;
	}
	#map {
		border: none;
		height: 34vh;
		width: 100%;
	}
	textarea {
		height: 30vh;
	}
	.bi-code-slash,
	.bi-brush,
	.bi-search {
		font-size: 36px;
	}
	.btn {
		margin: 10px auto 2px auto;
	}
}

@media (min-width: 577px) and (max-width: 767px) {
	.header {
		span {
			margin-left: 10px;
			font-size: 15px;
		}
		.navbar {
			font-size: 13px;
		}
	}
	.mentionsLégales {
		min-height: 56.4vh;
	}
	#map {
		border: none;
		height: 25vh;
		width: 100%;
	}
	textarea {
		height: 20vh;
	}
	h2 {
		font-size: 1.35em;
	}
	.faviconSocial {
		width: 36px;
		margin: 5px;
	}
	.introduction {
		font-size: 3rem;
	}
	.AboutMe {
		.paragraphe {
			font-size: 14px;
		}
	}
	.SkillList {
		margin: 15px 0px;
		font-size: 18px;
	}
	.bi-code-slash,
	.bi-brush,
	.bi-search {
		font-size: 36px;
	}
	.btn {
		margin: 10px auto 2px auto;
	}
}

/* Mobile */
@media (min-width: 320px) and (max-width: 577px) {
	.bi-code-slash,
	.bi-brush,
	.bi-search {
		font-size: 36px;
	}
	.bi-list {
		font-size: 24px;
	}
	#map {
		border: none;
		height: 25vh;
		width: 100%;
	}
	.banner {
		margin-top: 33px;
	}
	textarea {
		height: 20vh;
	}
	.faviconSocial {
		width: 36px;
		margin: 5px;
	}
	.whiteBox {
		height: auto;
		.MySkills {
			min-height: 35vh;
		}
	}
}
